@{

    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#signup").click(function () {
            //debugger;
            if ($("#login").val().trim() == "" || $("#name").val().trim() == "" || $("#password").val().trim() == "" || $("#cpassword").val().trim() == "") {
                alert("Please fill all the fields.");
                event.preventDefault();
                return false;
            }
            else if ($("#password").val().trim() != $("#cpassword").val().trim()) {
                alert("Passwords do not match.");
                event.preventDefault();
                return false;
            }
            var data = {};
            data.name = $("#name").val();
            data.login = $("#login").val();
            data.password = $("#password").val();
            let settings = {
                type: "POST",
                dataType: "json",
                url: '@Url.Content("~/User/SaveUser")',
                data: data,
                success: function (resp)
                {
                    if (resp.res == -1) {
                        $("#name").val("");
                        document.getElementById("success").style.display = "none";
                        let div = document.getElementById("statusContainer");
                        div.innerHTML = "";
                        div.innerHTML = "LOGIN ALREADY EXISTS!!"
                        div.style.color = "red";
                    }
                    else if (resp.res == 1) {
                        let div = document.getElementById("statusContainer");
                        div.innerHTML = "";
                        document.getElementById("success").style.display = "block";
                        $("#name").val("");
                        $("#login").val("");
                        $("#password").val("");
                        $("#cpassword").val("");
                    }
                    else
                    {
                        $("#name").val("");
                        $("#login").val("");
                        $("#password").val("");
                        $("#cpassword").val("");
                        document.getElementById("success").style.display = "none";
                        let div = document.getElementById("statusContainer");
                        div.innerHTML = "";
                        div.innerHTML = "Something went wrong.Please Try Again!!";
                        div.style.color = "red";
                    }
                },
                error: function (e)
                {
                   alert("Something Went Wrong!!");
                }
            };
            $.ajax(settings);
            return false;
        });
    });
</script>

@*<div style="background-image: url('../../Content/waves.jpg');"
    style="background-">*@
<div class="text-center">
    <div class="mt-4 mb-3 text-center">
        <img src="~/Content/signup.png" alt="login" class="rounded-circle" style="height: 25%; width: 12%">
    </div>
    <div class="inputWithIcon">
        <label for="name">Enter name</label>
        <input type="text" name="name" id="name" required  class="w-25 p-2 font-weight-bold pl-5">
    </div>
    <br>
    <div class="inputWithIcon">
        <label for="login">Enter Username</label>
        <input type="text" name="login" id="login" required class="w-25 p-2 font-weight-bold pl-5">
    </div>
    <br>
    <div class="inputWithIcon">
        <label for="password">Enter Password</label>
        <input type="password" name="password" id="password" required class="w-25 p-2 font-weight-bold pl-5">
    </div>
    <br>
    <div class="inputWithIcon">
        <label for="cpassword">Confirm Password</label>
        <input type="password" name="cpassword" id="cpassword" required class="w-25 p-2 font-weight-bold pl-5">
    </div>
    <br>
    <button name="signup" type="submit" id="signup" class="btn btn-info">Sign Up</button>
    <div id="statusContainer" class="text-danger font-weight-bold"></div>
    <div id="success" style="display: none">
        <div class="font-weight-bold text-info font-weight-bold mt-3"><h3>Account created successfully!!.</h3></div>
        <a href='@Url.Content("~/User/Login")' class="text-success font-weight-bold">Proceed to Login Page?</a>

    </div>
</div>